.prodName :hover {
    color: blue;
  }
  ._6Up2sF {
    vertical-align: middle;
    margin-left: 8px;
    font-size: 14px;
    color: rgb(33, 33, 33);
    cursor: pointer;
  }
  ._2iDkf8 {
    cursor: pointer;
    margin-top: 5px;
    
  }