._2QKOHZ {
    font-weight: 500;
    font-size: 24px;
    padding: 24px 0 0 5px;
}
.JOpGWq {
    margin-top: 24px;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
}
._1AtVbE {
    display: block;
}
._1wB99o {
    margin: 1px 0 0 2px;
    height: 10px;
}
._1BLPMq {
    margin-top: 3px;
    line-height: normal;
    display: inline-block;
    color: #fff;
    padding: 2px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    vertical-align: middle;
    background-color:red;
}
.classSet{
    margin-top: 3px;
    line-height: normal;
    display: inline-block;
    color: #fff;
    padding: 2px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    vertical-align: middle;
    background-color:  #388e3c;
}
._16PBlm {
    border-top: 1px solid #f0f0f0;
    margin-top: 15px;
}
.t-ZTKy {
    line-height: 1.4;
    font-size: 14px;
    color: #212121;
    margin: 12px 0;
    overflow: hidden;
}
._2V5EHH {
    font-weight: 500;
    font-size: 12px;
    color: #878787;
    margin-right: 8px;
}
._2mcZGG {
    font-size: 12px;
    color: #878787;
    padding: 0 6px 0 0;
}
._2a1p_T {
    margin-right: 4px;
    width: 14px;
    height: 14px;
    vertical-align: sub;
}
._2V5EHH {
    font-weight: 500;
    font-size: 12px;
    color: #878787;
    margin-right: 8px;
}
 ._3n8db9 {
    position: relative;
}
._1BWGvX1 {
    cursor: pointer;
    font-size: 12px;
    color: #2874f0;
    font-weight: bold;
}
 ._2-N8zT {
    padding-left: 12px;
    padding-top: 3px;
    font-size: 14px;
    color: #212121;
    font-weight: bold;
}
._1Qnn1K {
    font-weight: 500;
    padding: 10px 24px;
    border-top: none;   
    background: #fff;
}

.spanFirstClassReviw{
    cursor: pointer;
    float: left;
}
.setClassrowWithreview{
    align-items: end;
}

